.data/

.env
docker-compose.yml

dex/config.docker.yaml

nginx/sites/*.conf

mariadb/docker-entrypoint-initdb.d/*.sh
mongo/docker-entrypoint-initdb.d/*.js
mongo/docker-entrypoint-initdb.d/*.sh
postgres/docker-entrypoint-initdb.d/*.sh

promtail/*.yml

python/scripts/*.sh
