networks:
  dockerize_network:
    driver: bridge
    ipam:
      driver: default
      config: 
        - subnet: 172.24.0.0/16
          gateway: 172.24.0.1

services:
  postgres:
    build:
      context: ./postgres
      args:
        - POSTGRES_VERSION=${POSTGRES_VERSION}
        - TZ=${TZ}
    container_name: ${COMPOSE_PROJECT_NAME}_postgres_${POSTGRES_VERSION}
    hostname: postgres
    environment:
      - PGPORT=${POSTGRES_PORT}
      - PGTZ=UTC
      - POSTGRES_PASSWORD=${POSTGRES_ROOT_PASSWORD}
    image: ${COMPOSE_PROJECT_NAME}_postgres_${POSTGRES_VERSION}
    volumes:
      - ${DATA_PATH_HOST}/postgres:/var/lib/postgresql/data
      - ./postgres/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    networks:
      - dockerize_network

  nginx:
    build:
      context: ./nginx
      args:
        - NGINX_VERSION=${NGINX_VERSION}
        - TZ=${TZ}
    container_name: ${COMPOSE_PROJECT_NAME}_nginx_${NGINX_VERSION}
    image: ${COMPOSE_PROJECT_NAME}_nginx_${NGINX_VERSION}
    ports:
      - "${NGINX_HTTP}:80"
      - "${NGINX_HTTPS}:443"
    volumes:
      - ${DATA_PATH_HOST}/nginx:/var/log/nginx
      - ${NGINX_SITES_PATH}:/etc/nginx/sites-available
      - ${NGINX_SSL_PATH}:/etc/nginx/ssl
    networks:
      - dockerize_network

  node:
    build:
      context: ./node
      args:
        - INSTALL_VERSION=${NODE_VERSION}
        - TZ=${TZ}
    container_name: ${COMPOSE_PROJECT_NAME}_node_${NODE_VERSION}
    image: ${COMPOSE_PROJECT_NAME}_node_${NODE_VERSION}
    volumes:
      - ${UI_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
    ports:
      - "${NODE_PORT}:${NODE_PORT}"
    networks:
      - dockerize_network
    tty: true

  python:
    build:
      context: ./python
      args:
        - INSTALL_VERSION=${PYTHON_VERSION}
        - INSTALL_PIPENV=${PYTHON_INSTALL_PIPENV}
        - INSTALL_POETRY=${PYTHON_INSTALL_POETRY}
        - REF_VERSION=${PYTHON_REF_VERSION}
        - TZ=${TZ}
    container_name: ${COMPOSE_PROJECT_NAME}_python_${PYTHON_VERSION}
    image: ${COMPOSE_PROJECT_NAME}_python_${PYTHON_VERSION}
    volumes:
      - ${API_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
    ports:
      - "${PYTHON_PORT}:${PYTHON_PORT}"
    networks:
      - dockerize_network
    tty: true

  rust:
    build:
      context: ./rust
      args:
        - RUST_VERSION=${RUST_VERSION}
        - TZ=${TZ}
        - RUST_PORT=${RUST_PORT}
    container_name: ${COMPOSE_PROJECT_NAME}_rust_${RUST_VERSION}
    image: ${COMPOSE_PROJECT_NAME}_rust_${RUST_VERSION}
    volumes:
      - ${API_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
    ports:
      - "${RUST_PORT}:${RUST_PORT}"
    networks:
      - dockerize_network
    tty: true

  go:
    build:
      context: ./go
      args:
        - GO_VERSION=${GO_VERSION}
        - TZ=${TZ}
    container_name: ${COMPOSE_PROJECT_NAME}_go_${GO_VERSION}
    image: ${COMPOSE_PROJECT_NAME}_go_${GO_VERSION}
    volumes:
      - ${API_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
    ports:
      - "${GO_PORT}:${GO_PORT}"
    networks:
      - dockerize_network
    tty: true
